.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/dictionaries
*.class
*.class
*.class
backend/build/classes/endpointsSrc/frostlight/pso2kue/backend/registration/Registration$Unregister.class
*.class
*.class
